/STM32F103/EWARM/4WD Rover/Obj

# ignore emacs backup files
*~

# ignore SolidWorks temporary files
~$*.SLDPRT
~$*.SLDASM

# ignore OS X desktops
.DS_Store
STM32F103/EWARM/settings/Project_EditorBookmarks.xml

STM32F103/EWARM/4WD Rover/Exe/4WD Rover.hex

STM32F103/EWARM/4WD Rover/Exe/4WD Rover.out

STM32F103/EWARM/4WD Rover/Exe/4WD Rover.sim

STM32F103/EWARM/4WD Rover/List/4WD Rover.map
